{% extends "index.html" %}

{% block edit_comment %}
<h2 class="text-primary">Edit comment...</h2>
<form class="d-flex flex-column align-items-start gap-1" action="{{ url_for('edit_comment', comment_id=comment.id) }}"
  method="POST">
  <textarea class="form-control bg-secondary-subtle fs-5" id="contents" name="contents" rows="5" style="resize: none">
{{ comment.content }}</textarea>
  <div>
    <input class="btn btn-primary" type="submit" value="Update" />
    <a class="btn btn-warning" href="/">Cancel</a>
    <a class="btn btn-secondary" href="/">Return</a>
  </div>
</form>
{% endblock %}

{% block post_comment %}{% endblock %}

