{% extends "base.html" %} {% block content %}
<main>
	{% if current_user.is_authenticated %} {% block post_comment %}
	<form
		class="post-comment-container"
		action="."
		method="POST">
		<textarea
			class="post-comment-textbox"
			name="contents"
			placeholder="Post a new comment..."
			rows="5"></textarea>
		<input
			class="post-comment-btn"
			type="submit"
			value="Post" />
	</form>
	{% endblock %} {% else %}
	<div class="login-message-container">
		<div class="login-message-text">
			You must be logged in to interact with the comment forum.
		</div>
		<div class="login-message-actions">
			<a
				class="login-btn"
				href="{{ url_for('login') }}"
				>LOGIN</a
			>
			<span>or</span>
			<a
				class="register-btn"
				href="{{ url_for('register') }}"
				>REGISTER</a
			>
		</div>
	</div>
	{% endif %} {% block body %} {% endblock %}

	<div class="comments-list-container">
		{% if comments|length == 0 %}
		<div class="no-comments-message">
			No comments posted yet...be the first!!
		</div>
		{% else %} {% for comment in comments|sort(reverse=true, attribute="created_at") %}
		<div class="comment-card">
			<div class="comment-content-container">
				<div class="comment-content-text">
					{{ comment.content }}
					<span class="comment-content-subtext">
						Posted by {% if comment.user %} <span class="comment-username">{{ comment.user.username }}</span> {% else %} anonymous {% endif %} {% if comment.created_at %} on {{comment.created_at.strftime("%m/%d/%y at %I:%M %p") }} {% else %} at an unknown time {% endif %}
					</span>
				</div>
				{% if comment.user_id == current_user.id %}
				<form
					class="comment-content-actions"
					action="{{ url_for('delete_comment', comment_id=comment.id) }}"
					method="POST">
					<a
						class="comment-edit-link"
						href="{{ url_for('edit_comment', comment_id=comment.id) }}"
						role="button">
					</a>
					<button class="comment-delete-btn" type="submit" />
				</form>
				{% endif %}
			</div>

			<div class="comment-info-container">
				<div class="comment-info-wrapper">
					<div class="comment-info-text">
						( this comment has
						{% if comment.replies|length == 0 %}
						<span class="comment-replies-link">no replies</span>
						{% elif comment.replies|length == 1 and current_user.is_authenticated %}
						<a class="comment-replies-link" href="{{ url_for('replies', comment_id=comment.id) }}">1 reply</a>
						{% elif comment.replies|length == 1 and not current_user.is_authenticated %}
						<span class="comment-replies-link">1 reply</span>
						{% elif comment.replies|length > 1 and current_user.is_authenticated %}
						<a class="comment-replies-link" href="{{ url_for('replies', comment_id=comment.id) }}">{{ comment.replies|length }} replies</a>
						{% elif comment.replies|length > 1 and not current_user.is_authenticated %}
						<span class="comment-replies-link">{{ comment.replies|length }} replies</span>
						{% endif %}
						and
						{% if comment.likes|length == 0 %}
						<span class="likes-count">no likes</span>
						{% elif comment.likes|length == 1 %}
						<span class="likes-count">1 like</span>
						{% elif comment.likes|length > 1 %}
						<span class="likes-count">{{ comment.likes|length }} likes</span>
						{% endif %}
						)
					</div>
					{% if comment.likes %}
					<div class="liked-by-list">
						Liked by:
						{% for like in comment.likes %}
						<span class="liked-by-name">{{ like.user.username }}</span>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				{% if current_user.is_authenticated %}
				<form class="comment-info-actions" action="{{ url_for('like_comment', comment_id=comment.id) }}" method="POST">
					<a class="comment-reply-btn" href="{{ url_for('replies', comment_id=comment.id) }}" role="button">Reply</a>
					<button class="comment-like-btn" type="submit" />
				</form>
				{% endif %}
			</div>
		</div>
		{% endfor %} {% endif %}
	</div>
</main>
{% endblock %}
