{% extends "base.html" %}

{% block content %}

  <main>
    {% if error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      Incorrect username or password
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    <form action="." method="POST">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="username" name="username" placeholder="Enter your username" />
        <label for="username">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password" />
        <label for="password">Password</label>
      </div>
      <div class="d-flex align-items-baseline gap-3">
        <input class="btn btn-lg btn-success" type="submit" value="Login" />
        <a class="btn btn-link text-primary fs-5" href="/register">Need a login? Register here.</a>
      </div>
    </form>
  </main>
  
  {% endblock  %}