
{% extends "base.html" %}
{% block content %}

  <main>
    {% if error_one %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      There is already a registered user with that username. Please try again.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if error_two %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      Username cannot be blank. Please try again.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    {% if error_three %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      Username cannot be blank. Please try again.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    <form action="." method="POST">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="username" name="username" placeholder="Create your username" />
        <label for="username">Create your username</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="password" id="password" name="password" placeholder="Create your password" />
        <label for="password">Create your password</label>
      </div>
      <div class="d-flex align-items-baseline gap-3">
        <input class="btn btn-lg btn-success" type="submit" value="Register" />
        <a class="btn btn-link text-primary fs-5" href="/login">Already registered? Login here.</a>
      </div>
    </form>
  </main>
  
{% endblock  %}