{% extends "base.html" %}
{% block content %}
<main>
<div class="comment-container">
  <div class="comment-info">
    Comment by
    {% if comment.user %}
    <span class="info-strong username">{{ comment.user.username }}</span>
    {% else %}
    anonymous
    {% endif %}
    on
    {% if comment.created_at %}
    <span class="info-strong">{{ comment.created_at.strftime("%a, %#m/%#d/%y") }}</span>
    {% else %}
    at an unknown time:
    {% endif %}
  </div>
  <div class="comment-text">{{ comment.content }}</div>
</div>
<div class="reply-input-container">
  <div class="reply-textbox-label">Reply to comment...</div>
  <form class="reply-textbox-container" action="{{ url_for('replies', comment_id=comment.id) }}" method="POST">
    <textarea class="reply-textbox" name="contents" placeholder="Write your reply..." rows="3"
      style="resize: none"></textarea>
    <div class="reply-textbox-actions">
      <input class="reply-action-btn reply" type="submit" value="Reply" />
      <a class="reply-action-btn cancel" href="/" role="button">Cancel</a>
    </div>
  </form>
</div>
<div class="divider">
  <hr />
</div>
<div class="replies-list-container">
  {% for reply in replies|sort(reverse=true, attribute="created_at") %}
  <div class="replies-list-item">
    <div class="reply-text">{{ reply.content }}</div>
    <div class="reply-info-wrapper">
      <div class="reply-info">
        Reply from
        <span class="info-strong username">{{ reply.user.username }}</span> on
        <span class="info-strong">{{ reply.created_at.strftime("%a, %#m/%#d/%y") }}</span>
      </div>
      {% if reply.user_id == current_user.id %}
      <form class="reply-action" action="{{ url_for('delete_reply', reply_id=reply.id) }}" method="POST">
        <button class="delete-btn" type="submit">
          <svg viewBox="0 0 40 40">
            <path
              d="M10 36q-1.6 0-2.8-1t-1.2-2.5v-23.1h-2v-3.6h10v-1.8h12v1.8h10v3.6h-2v23.1q0 1.5-1.2 2.5t-2.8 1h-20zm20-26.7h-20v23.1h20v-23.1zm-16 19.6h4v-16h-4v16zm8 0h4v-16h-4v16Z" />
          </svg>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</main>
{% endblock %}