<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="stylesheet" href="../static/css/styles.css" />
		<title>Comment Forum</title>
	</head>

	<body>
		<nav>
			<div class="nav-container">
				<div class="nav-title-wrapper">
					<div class="nav-brand">Comment Forum</div>
					<div class="nav-user">( Logged in as <span class="logged-in-user">username</span> )</div>
				</div>
        <a class="nav-link" href="#">Logout</a>
      </div>
		</nav>

	</body>
</html>